<!DOCTYPE html>
<html>
<head>
    <title>User Home Page</title>
    <link rel="stylesheet" href="/stylesheets/userhome.css">
    
</head>
<body>
    <header>
        <h1>Welcome to Your User Home Page</h1>
    </header>
    <div class="container">
        <p>
            Hello, User! This is your home page. You can customize it to display any information or features you want. For now, it's a simple example.
        </p>
        <p>
            You can <a href="#">edit your profile</a>, <a href="#">view your messages</a>, or <a href="/logout">log out</a>.
        </p>
    </div>
</body>
</html>
